<!-- About -->

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="main.css">

<head>
   <meta charset="UTF-8">
   <title>My Personal Info-</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
   <!--header code-->
   <header>
      <p>
         <div1>Dhrumil Patel</div1>
         <div2>Personal Introduction Website</div2>
      </p>
   </header>
   <nav>
      <a href="index.html" class="option">Home</a>
      <a href="academics.html" class="option">Academics</a>
      <a href="projects.html" class="option">My Projects</a>
      <a href="per_info.html" class="option-selected">About Me</a>
      <a href="contact.html" class="option">Contact Me</a>
   </nav>
   <div9>
      My Full name is Dhrumilkumar Bharatbhai Patel.<br>
      Currently I'm pursuing bachelors of technology degree in computer engineering
      from <a href="https://www.ddu.ac.in/" class="link">Dharmasinh Desai University,Nadiad</a>.I have joined it in September,
      2021 and going to graduate in 2025. Currently I'm living in my Home at<a href="https://goo.gl/maps/8XmWFEWKHTx58TQH8" class="link"> Dakor</a>.
      I have completed my HSC and SSC form <a href="https://www.jnvdahod.gov.in/" class="link">Jawahar Navoday Vidyalaya,Dahod-1.</a><br><br>
      <st> Hobbies and Skills:-</st><br>
      As my field suggests i am super interested in computers. Even so much work on computer doesn't tiers me. I am
      always ready for learning new programming languages. As of now i am having knowledge of
      C,C++,PHP,HTML,CSS,SQL and shell-scripting.
      I am an active participant of many coding contests.<br>
      I have also made some projects which are included here, Code of all projects including this website are also
      available in <a class="link" href="https://github.com/dhrumilpatel30">Github</a>.
      For further details and queries you're welcome to <a href="contact.html" class="link">contact me.</a>
      <br><br><st>Thank You</st>
   </div9>
   <div6>
      ©️Dhrumilkumar Patel
   </div6>
</body>
