/*CSS of My project*/

/*Font used in My Website Availabe in fonts folder*/
@font-face {
   font-family: 'SF-Display';
   src: url(fonts/SF-Pro-Display-Bold.woff);
   font-weight: bold;
}

@font-face {
   font-family: 'SF-Display';
   src: url(fonts/SF-Pro-Display-Medium.woff);
   font-weight: 500;
}

@font-face {
   font-family: 'SF-Display';
   src: url(fonts/SF-Pro-Display-Regular.woff);
   font-weight: normal;
}

@font-face {
   font-family: 'SF-Text';
   src: url(fonts/SF-Pro-Text-Bold.woff);
   font-weight: bold;
}

@font-face {
   font-family: 'SF-Text';
   src: url(fonts/SF-Pro-Text-Medium.woff);
   font-weight: 500;
}

@font-face {
   font-family: 'SF-Text';
   src: url(fonts/SF-Pro-Text-Regular.woff);
   font-weight: normal;
}


body {
   background-image: url(background1.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   font-family: "SF-Display";
}

.header {
   font-family: 'SF-Display';
   font-weight: normal;
   display: inline;
}
div1 {
   font-size: 300%;
   font-weight: 500;
   margin: 25px;
}

div2 {
   margin-left: 45%;
   text-align: right;
   font-size: 230%;
   font-weight: 500;
   color: #f11;
}

nav {
   width: 98%;
   /*background-image: url(background2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: -20px;*/
   border: 4px solid maroon;
   border-radius: 10px;
   text-align: right;
   border-left: 20px solid maroon;
   padding-right: 5px;
   font-size: 110%;
   border-collapse: collapse;
   
}

a.option {
   border-collapse: collapse;
   font-family: "SF-Display";
   text-decoration: none;
   font-weight: bold;
   padding-left: 20px;
   font-size: 180%;
   line-height: 50px;
   padding-right: 25px;
   font-weight: normal;
   color: maroon;
   border-left: 2px solid maroon;
   border-right: 2px solid maroon;
}
a.option-selected {
   border-collapse: collapse;
   font-family: "SF-Display";
   text-decoration: none;
   font-weight: bold;
   padding-left: 20px;
   font-size: 180%;
   line-height: 50px;
   padding-right: 25px;
   font-weight: normal;
   color: rgb(173, 9, 9);
   border-left: 2px solid maroon;
   border-right: 2px solid maroon;
}
a.option:hover {
   font-size: 200%;
   padding-right: 15px;
   padding: 15px;
   color: rgb(204, 50, 50);
}

div3{
   font-size: 450%;
   display: block;
   font-family: "SF-Display";
   display: inline;
}
div4{
   padding-left: 11.3%;
   font-weight: 500;
}
div5{
   margin-left: 11.5%;
   font-size: 300%;
   font-weight: 500;
   display: block;
}
.emoji {
   padding-left: 4%;
   font-size: 500%;
   display: inline;
}
div6{
   font-size: 200%;
   position: fixed;
   bottom: 0;
}
red{
   color: #f22;
}
ong{
   color:#f70;
   font-size: larger;
   font-weight: bold;
}
